---
const {
  imageUrl,
  title,
  description,
  stack = [],
  repoUrl,
  websiteUrl,
} = Astro.props
---

<div class="flex w-full gap-2 md:gap-4 rounded">
  <img
    src={imageUrl}
    alt={title}
    class="aspect-square h-full w-full max-w-12 object-contain rounded mt-1 bg-gray-50"
    width="48"
    height="48"
  />
  <div class="flex flex-col gap-8 justify-between w-full">
    <div class="flex flex-col gap-0 w-full">
      <h4 class="text-2xl md:text-3xl font-bold">{title}</h4>
      <p class="opacity-75 w-full mb-2 whitespace-pre-line text-md md:text-lg">
        {description}
      </p>
      <div class="flex gap-2 flex-wrap w-full">
        {
          stack.map((item: string) => (
            <div class="p-2 leading-none border shadow font-bold rounded-lg flex items-center gap-1 text-sm bg-gray-200 dark:bg-gray-800">
              <span class="opacity-75">{item}</span>
            </div>
          ))
        }
      </div>
    </div>
    <div class="flex gap-2 md:gap-4 items-center flex-wrap">
      <a
        target="_blank"
        href={repoUrl}
        class="border rounded flex gap-2 items-center justify-center p-2 shadow hover:shadow-md duration-100 transition-all bg-gray-50 cursor-pointer invert dark:invert-0"
      >
        <img
          src="/icons/github.svg"
          alt="Github"
          class="w-5"
          width="20"
          height="20"
        />
        <p class="font-bold text-sm dark:text-black">View Repo</p>
      </a>
      <a
        target="_blank"
        href={websiteUrl}
        class="border rounded flex gap-2 items-center justify-center p-2 shadow hover:shadow-md duration-100 transition-all bg-gray-50 cursor-pointer invert dark:invert-0"
      >
        <img
          src="/icons/website.svg"
          alt="website"
          class="w-5"
          width="20"
          height="20"
        />
        <p class="font-bold text-sm dark:text-black">Visit Website</p>
      </a>
    </div>
  </div>
</div>
